.google-signin-button {
    color: white;
    background-color: red;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px 25px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blarg{
    margin-top: 90px;
}
.header{
    font-family: Typewolf;
}
.navbar {
    font-family: Algerian;
    background-color: #050208;
    border-bottom: 1px solid #dee2e6;
}
.med{
    color: #e7823e;
}
.steps{
    color: #3985C3;
}