<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--google api-->
    <script src ="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--style-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="css/client.css"/>

    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">-->
    <!--<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">-->

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
</head>
    <div id="app">
        {{getData}}
        {{getStepsBucket}}
        <div>
            <b-navbar class = "navbar" fixed="top">
                <b-navbar-brand>
                    <img src="images/logo.png" height="55" width ="200" class="logo">
                </b-navbar-brand>
                <goals-modal v-if="loggedIn" :goals="goals"></goals-modal>
                <b-navbar-nav class="ml-auto">
                    <b-button v-if="loggedIn" @click="prevWeek" variant="outline-light">Prev Week</b-button>
                    <b-button v-if="loggedIn && weekCounter != 0" @click="nextWeek" variant="outline-light">Next Week</b-button>
                    <b-button v-if="loggedIn" @click="logout" variant="outline-light">Log Out</b-button>
                    <b-button v-if="!loggedIn" @click="login" variant="light">Log In</b-button>
                </b-navbar-nav>
            </b-navbar>
        </div>
        <b-container class="topmargin" fluid >
        <div v-if="loggedIn">
            <div class = "parent">
                <div class ="steps">
                    <h1 class = "stepsheader"><i class="fas fa-shoe-prints"></i>Steps</h1>
                    <steps-chart :weeklysteps="weeklySteps" :goals="goals"></steps-chart>
                </div>
                <hr>

                <!--<h1 class ="medheader"><i class="fas fa-circle"></i>Meditation</h1>-->
                <div class="med">
                    <h1 class ="medheader"><i class="fas fa-ice-cream"></i>Meditation</h1>
                    <med-chart v-if="weeklySession" :weeklymed="weeklyMed" :goals="goals"></med-chart>
                </div>
                <br>
                <br>
                <br>
                <br>
                <day :weeklysteps="weeklySteps" :goals="goals":today="weeklySteps[0]"></day>
            </div>



            <!--<hr>-->
            <!--<b-row>-->
                <!--<b-col><day name="Sunday" :dayofweek="sundayList" :steps="sundaySteps" class="day-style"></day></b-col>-->
                <!--<b-col><day name="Monday" :dayofweek="mondayList" :steps="mondaySteps" class="day-style"></day></b-col>-->
                <!--<b-col><day name="Tuesday" :dayofweek="tuesdayList" :steps="tuesdaySteps" class="day-style"></day></b-col>-->
                <!--<b-col><day name="Wednesday" :dayofweek="wednesdayList" :steps="wednesdaySteps" class="day-style"></day></b-col>-->
                <!--<b-col><day name="Thursday" :dayofweek="thursdayList" :steps="thursdaySteps" class="day-style"></day></b-col>-->
                <!--<b-col><day name="Friday" :dayofweek="fridayList" :steps="fridaySteps" class="day-style"></day></b-col>-->
                <!--<b-col><day name="Saturday" :dayofweek="saturdayList" :steps="saturdaySteps" class="day-style"></day></b-col>-->
            <!--</b-row>-->


        </div>
        <div v-else>
            <!--<button type ="button" class="google-signin-button" @click="login">login</button>-->
            <b-alert show>You must be logged in to see your data</b-alert>
        </div>
        </b-container>

    </div>

<body>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>

<!-- Vue Libraries/Plugins -->
<script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.js"></script>
<script src="https://unpkg.com/vuefire@2.0.0-alpha.20/dist/vuefire.js"></script><!-- for use with firestore -->

<!--charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>


<!-- Vue Application -->
<!--<script src="js/app-models.js"></script>-->
<script src="js/app-models.js"></script>
<script src="js/app-components.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/app-session.js"></script>
<script src="js/app.js"></script>

</body>
</html>
